.battbody{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
}
.batcontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.788);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .batcontainer label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .batbut {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .batbut:hover {
    background-color: #0056b3;
  }
  
  .submitted-message {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .facilities {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
  }
  
  .facilities h2 {
    margin-top: 0;
  }
  
  .facilities ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    input,
    textarea {
      padding: 6px;
      margin-bottom: 8px;
    }
  
    button {
      padding: 8px 16px;
    }
  }